<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emreguven.burmetembank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BurMetEmBank">
        <activity android:name=".RastgeleSifreActivity"></activity>
        <activity android:name=".SifreDegistirActivity" />
        <activity android:name=".AyarlarActivity" />
        <activity android:name=".KrediHesaplaActivity" />
        <activity android:name=".BorcGosterActivity" />
        <activity android:name=".ParaYatirActivity" />
        <activity android:name=".HesapDetayActivity" />
        <activity android:name=".HavaleActivity" />
        <activity android:name=".ParaCekActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>